<div class="ui sidebar inverted vertical menu">
  <a class="item" href="{{ "/guide/" | relative_url }}">
    Introduction
  </a>
  <a class="item" href="{{ "/guide/basics/" | relative_url }}">
    Basics
  </a>
  <a class="item subitem" href="{{ "/guide/basics/#artificial-intelligence-systems-ais" | relative_url }}">
    Artificial Intelligence Systems
  </a>
  <a class="item subitem" href="{{ "/guide/basics/#ethics-of-artificial-intelligence-ai-ethics" | relative_url }}">
    Ethics of Artificial Intelligence
  </a>
  <a class="item" href="{{ "/guide/different/" | relative_url }}">
    What is different about AI?
  </a>
  <a class="item" href="{{ "/guide/the_question/" | relative_url }}">
    The Most Important Question
  </a>
  <a class="item" href="{{ "/guide/fairness/" | relative_url }}">
    Fairness
  </a>
  <a class="item subitem" href="{{ "/guide/fairness/disparate/" | relative_url }}">
    Disparate Treatment and Disparate Impact
  </a>
  <a class="item subitem" href="{{ "/guide/fairness/fat_pet/" | relative_url }}">
    A Fair Fat Pet Predictor
  </a>
	<a class="item subitem" href="{{ "/guide/fairness/impossible/" | relative_url }}">
    The Impossibility Theorem
  </a>
  <a class="item subitem" href="{{ "/guide/fairness/context_free/" | relative_url }}">
    Context-Free Fairness
  </a>
  <a class="item" href="{{ "/guide/bias/" | relative_url }}">
    Algorithmic Bias
  </a>
  <a class="item subitem" href="{{ "/guide/bias/harms/" | relative_url }}">
    Two Types of Harms
  </a>
  <a class="item subitem" href="{{ "/guide/bias/sources/" | relative_url }}">
    Sources of Bias
  </a>
  <a class="item subitem disabled" href="{{ "/guide/bias/data/" | relative_url }}">
    Bias from Data
  </a>
  <a class="item subitem disabled" href="{{ "/guide/bias/training/" | relative_url }}">
    Bias from Training
  </a>
  <a class="item subitem disabled" href="{{ "/guide/bias/deployment/" | relative_url }}">
    Bias from Deployment
  </a>
  <a class="item" href="{{ "/guide/checklist/" | relative_url }}">
    Checklist
  </a>
  <a class="item disabled" href="{{ "/guide/fairness/" | relative_url }}">
    Tools
  </a>
  <a class="item disabled" href="{{ "/guide/fairness/" | relative_url }}">
    Datasets
  </a>
  <a class="item disabled">
    Readings
  </a>
</div>