<div class="ui sidebar inverted vertical menu">
  <a class="item" href="{{ "/guide/" | relative_url }}">
    Intro
  </a>
  <a class="item" href="{{ "/guide/basics/" | relative_url }}">
    Basics
  </a>
  <a class="item" href="{{ "/guide/about_ai/" | relative_url }}">
    AIEthics
  </a>
  <a class="item" href="{{ "/guide/fairness/" | relative_url }}">
    Fairness
  </a>
  <a class="item" href="{{ "/guide/bias/" | relative_url }}">
    Bias
  </a>
  <a class="item" href="{{ "/guide/checklist/" | relative_url }}">
    Checklist
  </a>
  <a class="item disabled" href="{{ "/guide/fairness/" | relative_url }}">
    Tools
  </a>
  <a class="item disabled" href="{{ "/guide/fairness/" | relative_url }}">
    Datasets
  </a>
  <a class="item disabled">
    Readings
  </a>
</div>