<script src="{{ "/assets/guide/js.cookie.js" | relative_url }}"></script>
<script src="{{ "/assets/guide/bibtexParse.js" | relative_url }}"></script>
<!-- <script src="{{ "/assets/guide/bibtex.js" | relative_url }}"></script> -->
<script src="{{ "/assets/guide/bibliography.js" | relative_url }}"></script>
<script src="{{ "/assets/textures.js" | relative_url }}"></script>
<script src="{{ "/assets/guide/d3-annotation.js" | relative_url }}"></script>
<script src="{{ "/assets/guide/guide_fairnessexplorable.js" | relative_url }}"></script>
<script src="{{ "/assets/guide/guide_tidbit.js" | relative_url }}"></script>
<script src="{{ "/assets/guide/guide_tofro.js" | relative_url }}"></script>
<script src="{{ "/assets/guide/guide_main.js" | relative_url }}"></script>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script src="{{ "/assets/guide/cookieconsent.js" | relative_url }}"></script>