@import url('https://fonts.googleapis.com/css?family=Cutive+Mono&display=swap');

$guide-background-color: #0A0A0A !default;

body#guide-body {
	background-color: $guide-background-color;
}

div#guide {
	background-color: $guide-background-color;
	height: 100%;
	width: 100%;

	h1 {
		font-family: 'Cutive Mono', monospace;
		color: #fefcfd;
		font-size: 80px;
	}

	p {
		color: #F1F0DB;
	}

	hr {
		margin-bottom: 25px;
	}

	div.content {
		background-color: $guide-background-color;
		padding: 100px;

		p {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
