---
layout: default
---
<base target="_blank">
<dt-article>
	<h1 id="title">FrameworkNotes</h1>
	<h2>Notes on several AI Ethics Frameworks.</h2>
	<h4><a href="https://greentfrapp.github.io/project-asimov/" target="_self">Project Asimov</a></h4>
	<dt-byline></dt-byline>
	<hr/>
	<div class="contents">
		<h2>Integration (WIP)</h2>
		<p>(Click to focus)</p>
		<div id="framework-diagram">
			<svg style="width: 800px; height: 800px; cursor: pointer;"></svg>
			<h2 v-text='caption'></h2>
		</div>
	</div>
	
<dt-appendix>
  <p>
    This is a final research project for the <a href="https://urbanscience.sutd.edu.sg/">MSc. Urban Science, Policy and Planning (MUSPP) degree</a> at the <a href="https://www.sutd.edu.sg/">Singapore University of Technology and Design (SUTD)</a>.
  </p>
  <div class="return-to-top"><a href="#title" target="_self">[Return to top]</a></div>
</dt-appendix>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
<!-- <script src="{{ "/assets/framework_data.js" | relative_url }}"></script> -->
<!-- <script src="{{ "/assets/frameworks_principles.js" | relative_url }}"></script> -->
<script src="{{ "/assets/framework_demo2.js" | relative_url }}"></script>
