---
layout: default
---
<base target="_blank">
<dt-article>
	<h1 id="title">FrameworkNotes</h1>
	<h2>Notes on several AI Ethics Frameworks.</h2>
	<h4><a href="https://greentfrapp.github.io/project-asimov/" target="_self">Project Asimov</a></h4>
	<dt-byline></dt-byline>
	<hr/>
	<div class="contents" style="width: 1500px;">
		<h2 style="margin-bottom: 0;">Integration (WIP)</h2>
		<div id="framework-diagram">
			<svg style="width: 800px; height: 700px; cursor: pointer; display: inline-block; z-index: 1000; margin-left: -200px;"></svg>
			<div style="width: 300px; height: 700px; display: inline-block; overflow: hidden;">
				<h4 v-text="captionType" style="padding-top: 50px;"></h4>
				<h3 v-text="captionName" style="margin-top: 0;"></h3>
				<p v-text="captionContents" style="line-height: 1.4285em;"></p>
			</div>
		</div>
	</div>
	<hr/>
	<div id="main">
	<div class="contents">
		<h2>Detailed Notes</h2>
		<div class="ui transparent left icon input filter">
			<input v-model="searchTerm" type="text" placeholder="Search..."/>
			<i class="search icon"></i>
		</div>
		<div class="ui small slider checkbox filter">
		  <input type="checkbox" name="doHighlight" v-model="doHighlight">
		  <label>Highlight</label>
		</div>
		<div v-html="showMessage" @click="showResults = !showResults"></div>
		<ul style="margin-top: 1em;" v-if="showResults">
		{% for post in site.posts %}
			{% if post.frameworknotes %}
			<li v-if="search(`{{ post.ref }}` + `{{ post.title | escape }}` + `{{ post.content | escape }}`)">
				<a href="#notes-main"  target="_self" @click="selectPost('{{ post.ref }}')">{{ post.title | escape }}</a>
				<!-- <div class="tags">{% for tag in post.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}<a href="/tag/{{ tag_name }}">&middot;<nobr>{{ tag_name }}</nobr>&nbsp;</a>{% endfor %}</div> -->
			</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
	{% for post in site.posts %}
		{% if post.frameworknotes %}
		<!-- <div v-if="selectedPost === '{{ post.ref }}'"> -->
		<hr/ v-if="selectedPost === '{{ post.ref }}'">
		<div class="notes-main" id="notes-main" v-if="selectedPost === '{{ post.ref }}'">
			<div v-html="highlightedContent(`{{ post.content | escape }}`)"></div>
		</div>
		<div class="return-to-top" v-if="selectedPost === '{{ post.ref }}'"><a href="#title"  target="_self">[Return to top]</a></div>
		<!-- </div> -->
		{% endif %}
	{% endfor %}
</div>
</dt-article>
<dt-appendix>
  <p>
    This is a final research project for the <a href="https://urbanscience.sutd.edu.sg/">MSc. Urban Science, Policy and Planning (MUSPP) degree</a> at the <a href="https://www.sutd.edu.sg/">Singapore University of Technology and Design (SUTD)</a>.
  </p>
  <div class="return-to-top"><a href="#title" target="_self">[Return to top]</a></div>
</dt-appendix>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
<script src="{{ "/assets/framework_demo2.js" | relative_url }}"></script>
<script>
var app = new Vue({
	el: "#main",
	data: {
		searchTerm: "",
		selectedPost: "",
		doHighlight: true,
		showResults: true
	}, 
	computed: {
		showMessage: function() {
			return (this.showResults ? "<h4 id='showMessage'>Hide Results</h4>" : "<h4 id='showMessage'>Show Results</h4>");
		}
	},
	methods: {
		search: function(term) {
			if (term.search(new RegExp(this.searchTerm, "gi")) !== -1) {
				return true;
			} else {
				return false;
			}
		},
		selectPost: function(postId) {
			this.selectedPost = postId;
		},
		test: function(content) {
			return "TEST";
		},
		highlightedContent: function(content) {
			if (this.searchTerm.length === 0) {
				return content;
			}
			if (this.doHighlight) {
				return this.highlight(content.split(new RegExp("(?=<.*?)|>")), this.searchTerm);
			} else {
				return content;
			}
		},
		highlight: function(contents, searchTerm) {
			for (let i=0;i<contents.length;i++) {
				if (contents[i].indexOf("<") !== -1) {
					contents[i] = contents[i] + ">";
				} else {
					contents[i] = contents[i].replace(new RegExp(this.searchTerm, "gi"), match => "<mark>" + match + "</mark>");
				}
			}
			return contents.join("");
		}
	}
});
</script>
