<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include guide_head.html -%}

	<body id="guide-body">
		{%- include guide_navbar.html -%}
		<div id="nav" class="fixed navbar-hidden">
					<div class="logo">
						<i class="icon bars large toggle"></i>
						<div style="width: 150px; display: inline-block; vertical-align: middle;" class="toggle">
			  			<a> 
								Machines Gone Wrong
							</a>
						</div>
					</div>
		  	</div>
		<div class="pusher">
		<div id="app">
			<a href="#start">
				<img id="cover-image" src="{{ "/assets/guide/glitch_cover_2.jpg" | relative_url }}" alt="Machines Gone Wrong"/>
			</a>
			<div id="start" class="content guide-content">
				<p style="display: inline-block;">
					Often, when we first fall in love, the person of our affection seems to be perfect. But the happy honeymoon is cut short when we realize they are not <i>that</i> perfect. Turns out, they've got annoying habits. They wake up with bad breath. They burp. And oh my god their farts smell just as bad as ours. 
				</p>
				<img class="comic" width="270px" src="{{ "/assets/guide/comics/honeymoon_1_inverted.png" | relative_url }}" title="What do you mean they use the toilet?" alt="When you realize the love of your life is human." />
				<p>
					In the same way, our honeymoon with artificial intelligence (AI) is quickly giving way to a realization that AI is not perfect. Turns out, AI is not neutral. It is not necessarily right or fair. The recommendations of AI systems can be just as sexist or racist as any human.
				</p>
				<img class="comic" width="270px" src="{{ "/assets/guide/comics/honeymoon_2_inverted.png" | relative_url }}" title="%THE EARTH IS FLAT.%  NOOO." alt="When you realize the AI in your life is biased." />
				<div class="step">
				<p>
					There are so many ways that AI can go wrong. There are so many guidelines from governments, companies, non-governmental organizations (NGOs). There are so many new algorithms, datasets and papers on ethical AI. It can all be a bit hard to take in, so this guide is here to help.
				</p>
				<img class="comic" width="411px" src="{{ "/assets/guide/comics/honeymoon_3_inverted.png" | relative_url }}" title="%FART%" alt="Send. Help. Please." />
				</div>
			<hr/>
				<p>
					At the moment, the guide is targeted at AI practitioners and assumes some understanding of AI technologies. This mainly includes researchers and engineers. But it may also be useful for anyone helping to implement or recommend AI solutions.
				</p>
				<p>
					The current version of the guide focuses on <b>algorithmic bias</b>. Future work will include other AI-related problems such as black boxes, privacy violations, ghost work, system failure and misinformation.
				</p>
				<p>
					Here are some questions this guide tries to answer at different stages of the AI system lifecycle.
				</p>
				<br/>
				<div :class="introQuestionsClasses">
					<div class="fluid card">
						<div class="content">
							<div class="header">Taking Up the Project</div>
							<div class="description">
								<ul>
									<li>What are the different ways to define fairness?</li>
									<li>How do we decide which definition to follow?</li>
									<li>When is AI <b>not</b> the answer?</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="content">
							<div class="header">Collecting Data</div>
							<div class="description">
								<ul>
									<li>How do we know if our dataset is biased?</li>
									<li>How do we minimize bias in our dataset?</li>
									<li>What are some open-source datasets that are diverse?</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="content">
							<div class="header">Training</div>
							<div class="description">
								<ul>
									<li>How do we detect and reduce bias in the training process?</li>
									<li>How do we control the trade-off between bias and performance?</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="content">
							<div class="header">Deployment and Maintenance</div>
							<div class="description">
								<ul>
									<li>What should our client and users know?</li>
									<li>How do we consistently evaluate our models for bias?</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		{%- include footer.html -%}
		</div>
		<script src="{{ "/assets/guide/guide.js" | relative_url }}"></script>
		<script type="text/javascript">
			// const scroller = scrollama()
			// const height = document.documentElement.clientHeight
			// const width = document.documentElement.clientWidth
			// svg = d3.select("body").append("svg")
			// 	.attr("height", height)
			// 	.attr("width", width)
			// 	.style("position", "fixed")
			// 	.style("top", 0)
			// 	.style("left", 0)
			// title_1 = svg.append("g")
			// 	.attr("transform", `translate(${width/2},${height/2})`)
			// title_1.append("rect")
			// 	.attr("class", "headline")
			// 	.attr("fill", "#FFFFFF")
			// 	.attr("height", 100)
			// 	.attr("width", 510)
			// 	.attr("x", -10)
			// 	.attr("y", 0)
			// 	.attr("opacity", 0)
			// title_1.append("text")
			// 	.attr("class", "headline header")
			// 	.attr("opacity", 0)
			// 	.attr("y", "1em")
			// 	.attr("font-size", 32)
			// 	.attr("font-weight", 600)
			// 	.attr("font-family","Crimson Text")
			// title_1.select("text.header")
			// 	.append("tspan")
			// 	.attr("x", 0)
			// 	.text("New AI can guess whether you're gay")
			// title_1.select("text.header")
			// 	.append("tspan")
			// 	.attr("x", 0)
			// 	.attr("dy", "1em")
			// 	.text("or straight from a photograph")
			// title_1.append("text")
			// 	.attr("class", "headline subheader")
			// 	.attr("opacity", 0)
			// 	.attr("x", 0)
			// 	.attr("y", "5.5em")
			// 	.attr("font-size", 16)
			// 	.attr("font-weight", 400)
			// 	.attr("font-family","Roboto")
			// title_1.select("text.subheader")
			// 	.append("tspan")
			// 	.attr("font-weight", 600)
			// 	.text("Sam Levin")
			// title_1.select("text.subheader")
			// 	.append("tspan")
			// 	.text(" Fri 8 Sep 2017")

			// scroller
			//   .setup({
			//     step: '.step'
			//   })
			//   .onStepEnter(response => {
			//     d3.selectAll(".headline").transition().duration(500)
			//     	.attr("opacity", 1)
			//   })
			//   .onStepExit(response => {
			//     d3.selectAll(".headline").transition().duration(500)
			//     	.attr("opacity", 0)
			//   });

			// window.addEventListener('resize', scroller.resize);
		</script>
	</body>

</html>