<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	{%- include guide_head.html -%}

	<body id="guide-body">
		{%- include guide_navbar.html -%}
		<div id="nav" class="fixed">
			<div class="logo">
				<i class="icon bars large toggle"></i>
				<div style="width: 150px; display: inline-block; vertical-align: middle;" class="toggle">
	  			<a> 
					Machines Gone Wrong
				</a>
				</div>
			</div>
		</div>
		<div class="pusher">
		<div id="app">
			<div class="content guide-content">
				{{ content }}
			</div>
		</div>

		{%- include footer.html -%}
		</div>
		{%- include scripts.html -%}
	</body>

</html>